* {
    font-family: Calibri;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: dimgrey;
    color: white;
    z-index: 1;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
}

.poem {
    text-align: center;
    font-size: 30;
    margin-top: 40px;
    color: dimgrey;
}

#imgRaven {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    filter: drop-shadow(2px 2px 2px black);
}

.buttonRaven {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: dimgrey;
}

a.green {
    color:chartreuse;
}

.bold {
    font-weight: 900;
}

